<table border="0" cellpadding="3" align="center" width="600">
<tr>
<td>

	<p><b>Search Rules</b></p>
	<p>This search engine helps you find documents on this website and related sites. Here's how it works: you tell the search service what you're looking for by typing in keywords, phrases, or questions in the search box. The search service responds by giving you a list of all the Web pages in our index relating to those topics. The most relevant content will appear at the top of your results.</p>
	<p><b>How To Use:</b></p>
	<ol>
		<li>Type your keywords in the search box.</li>
		<li>Press the Search button to start your search.</li>
	</ol>
	<p><b>Here's an example:</b></p>
	<ol>
		<li>Type <a href="%search_url_ex%Terms=%url_query_example%">%query_example%</a> in the search box.</li>
		<li>Press the Search button or press the Enter key.</li>
	</ol>
	<p>Tip: Don't worry if you find a large number of results. In fact, use more than a couple of words when searching. Even though the number of results will be large, the most relevant content will always appear at the top of the result pages.</p>

	<p><b>More Basics - An Overview</b></p>

	<p><b>What is an Index?</b></p>

	<p>Webster's dictionary describes an "index" as a sequential arrangement of material. Our index is a large, growing, organized collection of Web pages and discussion group pages from around the world. The 'index' becomes larger every day as people send us the addresses for new Web pages. We also have technology that crawls the Web looking for links to new pages. When you use our search service, you search the entire collection using keywords or phrases.</p>

	<p><b>What is a Word?</b></p>

	<p>When searching, think of a word as a combination of letters and numbers. The search service needs to know how to separate words and numbers to find exactly what you want on the Internet. You can separate words using white space and tabs.</p>

	<p><b>What is a Phrase?</b></p>

	<p>You can link words and numbers together into phrases if you want specific words or numbers to appear together in your result pages. If you want to find an exact phrase, use "double quotation marks" around the phrase when you enter words in the search box.</p>

	<p>Example #1: To find lyrics by the King, type "you ain't nothing but a hound dog" in the search box. You can also create phrases using punctuation or special characters such as dashes, underscore lines, commas, slashes, or dots.</p>

	<p>Example #2: Try searching for 1-800-999-9999 instead of 1 800 999 9999. The dashes link the numbers together as a phrase.</p>

	<p><b>Simple Tips for More Exact Searches</b></p>

	<p>Searches are case insensitive. Searching for "Fur" will match the lowercase "fur" and uppercase "FUR".</p>

	<p>By default, all searches are accent insensitive as well, but administrators can change this setting. Accent sensitivity relates to Latin characters like &#245;.</p>

	<p><b>Including or excluding words:</b></p>

	<p>To make sure that a specific word is always included in your search topic, place the plus (+) symbol before the key word in the search box. To make sure that a specific word is always excluded from your search topic, place a minus (-) sign before the keyword in the search box.</p>

	<p>Example: To find recipes for cookies with oatmeal but without raisins, try "recipe cookie +oatmeal -raisin".</p>

	<p><b>Expand your search using wildcards (*):</b></p>

	<p>By typing an * within a keyword, you can match up to four letters.</p>

	<p>Example: Try wish* to find wish, wishes, or wishful.</p>

	<p><b>Searching for web addresses:</b></p>

	<p>If your search term is a URL, like "http://www.yahoo.com/", some search engines will redirect you directly to the URL. To avoid this behavior, and do an actual search with the URL as the search term, enclose the URL in double-quotes.</p>

	<p><b>Fancy Features for Typical Searches</b></p>

	<p>You can search more than just text. Here are all of the other ways you can search on the net:</p>

	<p><b>link:address</b><br />
	Finds pages that link to the specified address, or a substring of it. Use link:microsoft.com to find all pages linking to Microsoft sites. Note: this feature is not implemented on all search engines.</p>

	<p><b>text:text</b><br />
	Finds pages that contain the specified text in the body of the document.  By way of comparison, searches without the "text:" attribute will scan the URL, title, links, and META tags as well as the document body.</p>

	<p><b>title:text</b><br />
	Finds pages that contain the specified word or phrase in the page title (which appears in the title bar of most browsers). The search title:Elvis would find pages with Elvis in the title.</p>

	<p><b>url:text</b><br />
	Finds pages with a specific word or phrase in the URL. Use url:altavista to find all pages on all servers that have the word altavista in the host name, path, or filename - the complete URL, in other words.</p>

</td>
</tr>
</table>
