<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>Fluid Dynamics Search Engine<% if terms %>: %terms% <% end if %></title>
	<% if terms %><meta name="robots" content="index,nofollow" />
	<% end if %><meta http-equiv="Content-Type" content="%content_type%" />
	<meta name="version" content="%VERSION%" />
	<meta name="description" content="Site search engine" />
	<!--#include file="style.inc" -->
</head>
<body dir="%dir%">
